@media only screen and (min-width: 100px)
{
    *{
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
    

      }
      .table-container {
        width: 100%;
    }
    li a{
      color:white
    }
      .desc{
        float:right;
        margin-right:200px;
      }
      #header{
        height:60px;
        /* background-color:#343A40; */
        background-color:#3570AA;
        color:white;
        padding-left:1%;
        PADDING-TOP:0.5%;
        font-size:25px;
    }

    #combine{
      margin:2% 5% 0% 5%;
      padding-left:3%;
      padding-right:3%;
    }

    .stepbar{   
      height:inherit;
      width:inherit;
    }
    #div2{
      max-height:60%; 
      min-height:inherit;
      width:inherit;
      overflow-y:auto;            
    }
    
    .progressbar {
    counter-reset: step;
    }
    .progressbar li {
    list-style: none;
    display: inline-block; 
    width: 16.00%;
    position: relative;
    text-align: center;
    cursor: pointer;
    }
    .progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 40px;
    height: 40px;
    line-height : 40px;
    border: 3px solid gray;
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #fff;
    }
    .progressbar li:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: gray;
      top: 20px;
      left: -50%;
      z-index : -1;
    }
    .progressbar li:first-child:after {
          content: none; 
    }
    .progressbar li.active {
        color: green;
      }
      .progressbar li.active:before {
        border-color: green;
      } 
      .progressbar li.active + li:after {
        background-color: green;
      }
      @keyframes slideInFromLeft {
        0% {
          transform: translateX(30%);
        }
        100% {
          transform: translateX(0);
        }
      }
      #submit{

      width: 180px; 
      text-align:center;
      font-size:18px;

      margin-top:2%;
    }
    #create{
      width:150px;
   
    }
    #next{
      color: white;
      float:right;
      margin-top:2%; 
      margin-right:15%;  
      width:120px; 
    }
    #update
    {
      color: white;
      float:left;
      margin-top:2%; 
      margin-left:20%;  
      width:120px;
    }
    #cancel_btn
    {
      color: white;
      float:right;
      margin-top:2%; 
      margin-right:60%;  
      width:120px; 
    }
    .reset{

      margin-left:15%;  
      margin-top:2%;  
      float:left;
    }
    #reset{
      margin-top:2%;
    }
    #form{
        margin:50px 100px;
      }
      .col-form-label{
        font-size:20px;
        color:steelblue;
      }
      .asteriskField{
        color:red;
      }  
      #id_Regulation{
      height:40px;
      }
    .form-check
      {
        height:40px;
        font-size:18px;
      }
    .form-check-input{
        height:20px;
        width:20px;
      }

      .sub{
        float:left;
      }
      #buttons {
        padding-top:5%;
      }
 
      .row{
      width:100%;
        height:auto;
      margin-top:2%;
      }
      .col-2{
          float:left;
          padding-left:5%;
          margin-left:25%;
      }
      .col-2:after
      {
          content:"*";
          color:red 
      } 
      .col-4{
          float:right;
           width:100%;
          margin-right:25%;
      }
      .col4{
        width:40%;
        margin-top:2%;
        margin-left:25%;
      }
      .top{
          width:100%;
          clear: both;

      } 
      .middle{
          width:100%;
          padding-top:1%;
          clear: both;
          padding-bottom:1%;
      }
      .bottom{
          padding-top:1%;
          width:100%;
          clear: both;
      }
      .add-form-row{
        float:right;
      }
      .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 3px;
        }

      .node text { font: 12px sans-serif; }

       #graph{
           margin-left:20%;
           margin-right:20%;
           margin-top:5%;
       }
        .link {
        fill: none;
        stroke: rgb(156, 139, 139);
        stroke-width: 2px;
        }

    #logout{
      float:right;
      margin-right:1%;
      color:white;
      text-decoration:none
    }
   
    
    #group_individual, #selectNumber1,#selectNumber{
      width:inherit;
      height:4%;
      border:1px solid black;
      border-radius:5px;
      margin-top:5%;
      margin-bottom:5%;
    }
 
  
    .card{
     margin-top:5%;
      border-radius:5px;
      font-size:20px;
  }
  .search{
      border: 2px solid #ccc;
      height:40px;
      width:100%;
      border-radius:5px;
      padding-left:10px;
      font-size:15px;
  }
  .network-model{
    width:300% !important;
    margin-left:-100% !important;
  }
}